/* Untuk Tablets */
@media (max-width: 1000px) {
/* Joyo */




/* Riswam */
.container {
    max-width:1000px;
    width: 100%;
    padding: 0 5px;
    margin: 0 auto;
  }
.judul{
    text-align: center;
    color: #32325d;
  }
  .mid {
    text-align: center;
    color: #32325d;
  }
  .labelinfo {
    text-align: center;
    font-size: 0.9rem;
    font-weight:300; 
    color: #32325d;
  }
  .content{
    width:100%;
    height:236px;
    display:flex;
    padding-left:5%; 
    padding-right:5%;
  }
  .content-list{
    width:25%;
    display: inline;
    align-items: center;
    justify-content: center; 
    margin: 0 5px;
  }
  .content-img{
    width:100px;
    height:100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
/* =========================================================== */




/* Lukman */





/* Sabilal */
.card{
    width: 40%;
}




/* Fery */



  
}

/* Untuk Smartphones */
@media (max-width: 670px) {
/* Joyo */



/* Riswam */
.judul{
    text-align: center;
    color: #ED473E;
  }
.container {
    max-width:670px;
    /* width: 100%; */
    padding: 0 30px;
    margin: 0 auto;
  }
.mid {
    text-align: center;
    color: #32325d;
  }
  .labelinfo {
    text-align: center;
    font-size: 0.9rem;
    font-weight:300; 
    color: #32325d;
  }
  .content{
    width:100%;
    height:236px;
    padding-left:10%; 
    padding-right:10%;
    display: table-row;
  }
  .content-list{
    display: table-column;
    width:100%;
    display: inline;
    align-items: center;
    justify-content: center; 
    margin: 0 20px;
  }
  .content-img{
    width:100px;
    height:100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


/* Lukman */
.dapur-ngebul{
  flex-direction:column;
}

.bg-youtube{
  float: left;
  width: 100%;
  height: auto;
  margin-bottom: -200px;
  margin-left: -200;
  /* margin-top: -100px; */
}

.video-youtube{
  margin:0 auto;
  width: 90%;
  margin-bottom: 60px;
}

.text-ngebul{
  margin:0 auto;
  width: 90%;
}

.bg-text-ngebul{
  float: Right;
  width: 40%;
  height: auto;
  margin-top: -100px;
  margin-bottom: -100px;
  /* margin-top: -100px; */
}

.img-bg-ngebul{
  width: 100%;
}

.text-ngebul h1{
  font-size: 24px;
}

.text-ngebul h3{
  font-size: 18px;
}





/* Sabilal */
.card-container{
    width: 100%; 
    margin: 100px auto 50px;
}

.heading{
    padding:20px;
    font-size: 20px;
}

.card{
    width: 80%;
}




/* Fery */




}